* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
}

h1 {
    margin-top: 30px;
}

ul {
    padding: 0;
}

.content {
    width: 100%;
    display: flex;
    background-color: burlywood;
    position: fixed;
    top: 0;
    margin: 0;
}

.content a {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100%;
}

.content li {
    width: 100%;
    text-align: center;
    list-style-type: none;
}

.content a:hover {
    cursor: pointer;
    background-color: darkgray;
}

a {
    text-decoration: none;
    color: black;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}