* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: square;
}

.under p:nth-child(3) {
    margin: 0;
    text-align: right;
    color: #FF6666;
    opacity: .6;
}

.container {
    display: flex;
}

.secondWrap {
    width: 720px;
    margin-left: 10px;
}

.under {
    align-self: flex-end;
}


/*                                  DIVS */

.wraap {
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}

.test {
    width: 140px;
    height: 116px;
    border-radius: 5px;
    margin: 10px;
    position: relative;
}

.test>em {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: wheat;
    display: block;
    width: 100%;
    border-radius: 0 0 5px 5px;
    padding: 1px;
    box-shadow: 0 -2px 7px 0;
}

.test u::before {
    content: "RGB: ";
    font-style: normal;
}

.test q::before {
    content: "HEX: ";
    font-style: normal;
}