.firstList {
    list-style-type: upper-roman;
}

li {
    list-style-type: lower-roman;
}

.list {
    width: 350px;
}

.code {
    background-color: black;
    color: green;
    width: 400px;
    overflow: auto;
    max-height: 62px;
    padding: 0;
}

pre {
    margin: 0;
}